name: Basic Tests
# It runs default OSes for each PR, push event or a new tag,
# checks basic builds with various compilers and executes all sets of tests.

on:
  push:
  pull_request:
  release:
    types:
      - created

env:
  REPO:           pmemstream
  GITHUB_REPO:    pmem/pmemstream
  CONTAINER_REG:  ghcr.io/pmem/pmemstream
  HOST_WORKDIR:   ${{ github.workspace }}
  WORKDIR:        utils/docker
  TEST_TIMEOUT:   800
  IMG_VER:        latest

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    env:
      # use org's Private Access Token to log in to GitHub Container Registry
      CONTAINER_REG_USER:   ${{ secrets.GH_CR_USER }}
      CONTAINER_REG_PASS:   ${{ secrets.GH_CR_PAT }}
      FORCE_IMAGE_ACTION:   ${{ secrets.FORCE_IMAGE_ACTION }}
    strategy:
      matrix:
        CONFIG: [
                  "TYPE=debug OS=ubuntu OS_VER=20.04 CHECK_CPP_STYLE=1 ",
                  "TYPE=debug OS=ubuntu OS_VER=20.04 COVERAGE=1 PUSH_IMAGE=1",
                  "TYPE=valgrind OS=ubuntu OS_VER=20.04",
                  "TYPE=package OS=ubuntu OS_VER=20.04",
                 ]
    steps:
      - name: Get release version
        if: github.event_name == 'release'
        id: get_release_version
        run: echo ::set-output name=VERSION::$(echo ${{ github.event.release.tag_name }} | awk -F '[.-]' '/^[0-9]+.[0-9]+[.0-9]*(-rc[0-9]+)?$/ {print $1 "." $2}')

      - name: Set image version and force image action for release
        if: github.event_name == 'release' && steps.get_release_version.outputs.VERSION != ''
        run: |
          echo "IMG_VER=${{ steps.get_release_version.outputs.VERSION }}" >> $GITHUB_ENV
          echo "FORCE_IMAGE_ACTION=rebuild" >> $GITHUB_ENV

      - name: Clone the git repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # "pull" or "rebuild" can be passed to a secret FORCE_IMAGE_ACTION to override default action
      - name: Pull the image or rebuild and push it
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./pull-or-rebuild-image.sh

      - name: Run the build
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./build.sh

  doc:
    name: build and publish docs
    runs-on: ubuntu-latest
    needs: linux
    env:
      DOC_UPDATE_GITHUB_TOKEN:   ${{ secrets.DOC_UPDATE_GITHUB_TOKEN }}
      DOC_UPDATE_BOT_NAME:       ${{ secrets.DOC_UPDATE_BOT_NAME }}
      DOC_REPO_OWNER:            ${{ secrets.DOC_REPO_OWNER }}
    if:
      github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/stable-')
    strategy:
      matrix:
        # XXX: temporarily we run all our jobs on Ubuntu; normally it should run on Fedora
        CONFIG: ["TYPE=doc OS=ubuntu OS_VER=20.04"]
    steps:
      - name: Set image version for stable branch
        # doc update happens only on stable branch (not on PR), so we check only for heads ref
        if: startsWith(github.ref, 'refs/heads/stable-')
        run: |
          echo "IMG_VER=$(echo ${GITHUB_REF#refs/heads/} | cut -d - -f 2)" >> $GITHUB_ENV

      - name: Clone the git repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Pull the image
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./pull-or-rebuild-image.sh pull

      - name: Run the build
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./build.sh

